.form {
  display: flex;
  justify-content: center;
}

.form__fieldset {
  max-width: 385px;
  position: relative;
  border: none;
  margin: 0px;
  padding: 0px;
}

.form__label {
  margin: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  height: 60px;
  margin: 8px 0px 32px;
  padding: 0px;
  border-radius: 4px;
  width: 100%;
  max-width: 385px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
  max-width: 385px;
}

.form__input::-webkit-input-placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding-top: 15px;
  padding-left: 20px;
}
.form__input::-moz-placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding-top: 15px;
  padding-left: 20px;
}
.form__input:-ms-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding-top: 15px;
  padding-left: 20px;
}
.form__input::-ms-input-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding-top: 15px;
  padding-left: 20px;
}

.form__input::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding-top: 15px;
  padding-left: 20px;
}

.form__button {
  border-radius: 4px;
  opacity: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  background-color: #2f80ed;
  color: #ffffff;
  height: 60px;
  width: 385px;
  margin: auto;
  display: block;
  border-color: #2f80ed;
  padding: 0px;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  display: flex;
  margin-top: 32px;
  justify-content: center;
  border-radius: 2px;
  flex-direction: row-reverse;
}
